Package: com.level3tjg.slimvolumehud
Name: SlimVolumeHUD
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Get rid of the "fat" iOS 13 Volume HUD state
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
